.layoutMainPage {
    display: flex;
    padding: 47px 0 62px 0;
    position: relative;
    min-height: 100vh;

    @media screen and (min-width: 320px) {
        width: 288px;
    }

    @media screen and (min-width: 768px) {
        width: 640px;
    }

    @media screen and (min-width: 1440px) {
        width: 1110px;
    }
}

.sidebarStyle {
    @media screen and (max-width: 768px) {
        display: none;
    }
}