.searchBar {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2),
        0px 3px 4px rgba(191, 196, 201, 0.18),
        0px 1px 5px rgba(191, 196, 201, 0.24);
    border-radius: 599px;
    padding-left: 16px;

    @media screen and (min-width: 320px) {
        width: 32px;
        height: 32px;
        padding: 8px;
    }

    @media screen and (min-width: 768px) {
        width: 274px;
        height: 38px;
        padding: 10px;
    }

    @media screen and (min-width: 1440px) {
        width: 350px;
    }
}

.searchIcon {
    width: 16px;
    height: 16px;
    cursor: pointer;

    background: none;
    border: none;
    outline: none;

    @media screen and (min-width: 768px) {
        margin-right: 8px;
    }
}

.searchIconActive {
    svg path {
        fill: rgb(248, 54, 0);
    }
}

.searchInput {
    display: none;
    caret-color: rgb(248, 54, 0);

    @media screen and (min-width: 768px) {
        width: 100%;
        display: inline;
        border: 0;
        font-size: 14px;
        font-style: normal;
        line-height: 18px;
        letter-spacing: 0.1px;
        color: #A7A7A7;
    }

    &:focus {
        outline: none;
    }
}

.showSearchInput {
    @media screen and (max-width: 768px) {
        width: 100%;
        transition-duration: 0.5s;

        .searchInput {
            transition-duration: 1s;
            background: none;
            padding-left: 0;
            display: block;
            width: 100%;
            border: 0;
        }

        img {
            display: block;
        }
    }
}

.resetSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    right: 24px;
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
}

.hideElement {
    display: none;
}