.bookPage {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    flex: 1 1 auto;
}

.wrapperContainer {
    align-items: center;
    max-width: 1110px;
    margin: 42px auto 0;
    width: 100%;
    padding: 0 10px;

    @media screen and (min-width: 320px) {
        width: 288px;
    }

    @media screen and (min-width: 768px) {
        width: 640px;
    }

    @media screen and (min-width: 1440px) {
        width: 1110px;
    }
}

.ratingInfoClass {
    display: flex;
    text-align: left;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #EBEBEB;

    @media screen and (min-width: 320px) {
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        width: 100%;
    }

    @media screen and (min-width: 768px) {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        width: 305px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        width: 350px;
    }
}

.ratingValue {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}

.ratingContainer {
    margin: 50px 0;
}

.starValueRating {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;

    @media screen and (min-width: 320px) {
        margin-top: 20px;
    }

    @media screen and (min-width: 768px) {
        margin-top: 36px;
    }
}